{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block banniere_text %}
	<p class="first__banner__text">INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION  &nbsp; - &nbsp;</p> 
	<p class="second__banner__text">INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; - &nbsp; INSCRIPTION &nbsp; -</p>
{% endblock %}

{% block body %}
	<link rel="stylesheet" href={{asset('assets/css/inscription.css')}}>

	<div class="containerInscription d-md-flex">
		<div class="containerImgInscription col-md-6 d-none d-md-block">
			<img src={{asset('assets/img/inscription.jpg')}} alt="" class="imgInscription">
		</div>
		<div class="col-md-5 justify-content-center">
			<div class="box containerRegisterForm col-md-10 m-md-5 my-5 mx-5">
				<h1>Inscription</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.nom) }}
				{{ form_row(registrationForm.prenom) }}
				{{ form_row(registrationForm.date) }}
				{{ form_row(registrationForm.telephone) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            		label: 'Mot de passe :'}) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btnPurple col-12 col-md-4">Valider</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
