{% extends 'base.html.twig' %}

{% block title %}
	Competence
{% endblock %}

{% block banniere_text %}
	<div class="slider">
		<ul class="slide">
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>

			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
			<li class="item_slide">Liste</li>
		</ul>
	</div>
{% endblock %}

{% block body %}

	<link rel="stylesheet" href={{ asset('assets/css/competence.css') }}>

	<section class="back-color pb-5">
	
	<section class="main-container mb-5">
		<h1 class="mb-5">Liste des compétences</h1>
		{% for competence in competences %}
			<div class="competence-box comp-box mb-5">
				<a href="/competence/{{competence.id}}" class="box-comp">
					<div class="title-comp">
						<h2>{{competence.nom}}</h2>
						{# <i class="fa-sharp fa-solid fa-display picto-comp"></i> #}
					</div>
					<p class="mt-4">{{competence.description|u.truncate(600, '...', false)}}</p>
				</a>
			</div>
		{% endfor %}
		{{ knp_pagination_render(competences) }}

	</section>

	</section>

{% endblock %}
