{% extends 'base.html.twig' %}

{% block title %}
	Competence
{% endblock %}

{% block banniere_text %}
	DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES
{% endblock %}

{% block body %}

	<div>
		<p>{{competence.nom}}</p>
		<p>{{competence.description}}</p>
	</div>

	<div>

		{% for examen in examens %}
			<p>{{examen.ville}}</p>
			<p>{{examen.date|date('d/m/Y H:i')}}</p>
			<p>{{examen.inscriptions|length}}</p>
	 {% endfor %} 
			
	</div>

	<div>

		{# {{form_start(form)}}
		
					{{ form_label(form.examens)}}
					{{ form_widget(form.examens)}}
		
		
					{{form_rest(form)}}
					<button type="submit">Valider</button>
					{{form_end(form)}} #}
		{# {{form(form)}} #}
			{{form_start(form)}}
			<button type="submit">Valider</button>
			{{form_end(form)}}

		</div>
	{% endblock %}
