{% extends 'base.html.twig' %}

{% block title %}
  Profil 
{% endblock %}

{% block banniere_text %}
  PROFIL
{% endblock %}

{% block body %}
  {% for message in app.flashes('message') %}
    <p>
      {{ message }}
    </p>
  {% endfor %}
  <p>
    {{ form(form) }} 
  </p>
  
  <a href="{{ path('app_edit_password') }}">Modifier mon mot de passe</a>
  <a href="{{ path('app_delete') }}">Supprimer mon profil</a>

  <div style="background-color: palegreen;">
  <h2>EXAMEN A VENIR</h2>
    {% for examen in examToCome %}
      <p>
        {{ examen.competence.nom }} <br />
        {{ examen.date|date('d/m/Y') }} <br />
        {{ examen.ville }}
      </p>
    {% endfor %}
  </div>

  <div>
  <h2>EXAMEN PASSEES</h2>
    {% for examen in examPassed %}
      <p>
        {{ examen.competence.nom }} <br />
        {{ examen.date|date('d/m/Y') }} <br />
        {{ examen.ville }}
      </p>
    {% endfor %}
  </div>

  <script src={{asset('assets/js/profil.js')}}></script>
{% endblock %}
