{% extends 'base.html.twig' %}

{% block title %}
	Accueil!
{% endblock %}

{% block banniere_text %}
	<div class="slider">
		<ul class="slide">
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>

			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
		</ul>
	</div>
{% endblock %}

{% block body %}

	<link rel="stylesheet" href={{ asset('assets/css/accueil.css') }}>

	<section class="main-container">
		<h1>Offre des compétences</h1>

		{% for message in app.flashes('erreur') %}
			<div class='alert-success message_alerte' role="alert">
				{{ message }}
			</div>
		{% endfor %}
		

		<div class="layout-accueil" id="main-box">

				{% for examen in examens|sort((a, b) => a.date > b.date) %}
					<div class="comp-box" id="boite-comp"> 
						<div class="title-comp">
							<h2 class="h2-accueil">{{ examen.competence.nom }}</h2>
							{# <i class="fa-sharp fa-solid fa-display picto-accueil"></i> #}
						</div>
						<p class="contenu-accueil mt-4 mb-4">
							{{ examen.competence.description|u.truncate(250, '...', false) }}
						</p>
						<a href="{{ path('competence.show', { id: examen.competence.id }) }}" class="box-comp">
							<button class="btnMore">Plus d'informations</button>
						</a>
					</div>
			{% endfor %}
		</div>
	
</section>
{% endblock %}
