<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<!-- CSS only -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
		<link rel="stylesheet" href={{asset('assets/css/base.css')}}>
		<link rel="stylesheet" href={{asset('assets/css/style.css')}}>
		<link rel="stylesheet" href={{asset('assets/css/animation.css')}}>

	</head>
	<body>
		<header
			id="header">
			<!-- header -->
			<div id="header-wrapper" class="d-none d-md-flex d-lg-flex text-start align-md-middle">
				<div class="container-fluid text-center">
					<div class="align-items-center">
						<div class="text-white text-center">
							<h1 class="header-title">Un slogan d'accroche pour le centre d'examen</h1>
							<div id="title">
								<a href="{{ path('app_accueil') }}">
									<p class="title-left">Centre</p>
									<p class="title-right">examen</p>
								</a>
							</div>
							<!-- Navbar -->
							<nav class="navbars d-flex">
								<ul class="navbars-left d-flex">
									<li class="nav-link">
										<a href="{{ path('app_competence') }}">Mon compte</a>
									</li>
									<li class="nav-link ">
										<a href="{{ path('app_contact') }}">Contact</a>
									</li>
								</ul>
								<ul class="navbars-right d-flex">
									{% if app.user %}
										<li class="nav-link">
											<a href="{{ path('app_profil') }}">Mon profil</a>
										</li>
										<li class="nav-link">
											<a href="{{ path('app_logout') }}">Déconnexion</a>
										</li>
									{% else %}
										<li class="nav-link">
											<a href="{{ path('app_login') }}">Connexion</a>
										</li>
										<li class="nav-link">
											<a href="{{ path('app_register') }}">Inscription</a>
										</li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- fin header -->

		<!-- debut sous-navbar -->
		<!-- Navbar -->
			<nav class="navbar d-flex navbar-expand-md navbar-light fixed-top"> <a class="navbar-brand" href="{{ path('app_accueil') }}">
				<h2>Centre
				</br>
				d'examen</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_competence') }}">Mon Compte<span class="sr-only"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">
						Connexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_register') }}">
						Inscription</a>
				</li>
			</ul>
		</div>
</nav><!-- Navbar --><!-- fin sous-navbar --><div class="anim__banner"> {% block banniere_text %}{% endblock %}
</div>


<main>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}

	{% block body %}{% endblock %}
</main>

<!-- Footer -->

<footer class="containerFooter px-3 py-5">
	<div class="container">
		<div class="d-block d-md-flex d-lg-flex">
			<div class="col-8 col-lg-4 col-md-6 text-start">
				<h5 class="logoFooter">
					<b>
						Centre d'examens
					</b>
				</h5>
			</div>
			<div class="containerMenuFooter col-md-6 d-block d-md-flex d-lg-flex text-start align-md-middle">
				<div class="col-lg-2 col-md-2  menuFooter">
					<a href="{{ path('app_contact') }}" class="liensFooter">Contact</a>
				</div>
				<div class="col-lg-3 col-md-4 menuFooter">
					<a href="{{ path('app_cgu') }}" class="liensFooter">Mentions Légales</a>
				</div>
				<div class="col-lg-2 col-md-6 menuFooter">
					<a href="{{ path('app_faq') }}" class="liensFooter">FAQ</a>
				</div>
			</div>
		</div>
		<div class="copyright text-start text-md-end text-lg-end">
			© 2022 Copyright
		</div>
	</div>
</footer>
<script src="assets/js/accueil.js"></script>
<script src="assets/js/caroussel_accueil.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Fin footer --></body></html>
