<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<!-- CSS only -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
		<link rel="stylesheet" href={{asset('assets/css/base.css')}}>
		<link rel="stylesheet" href={{asset('assets/css/animation.css')}}>

	</head>
	<body>
		<header>
			<nav>
				<span>Un slogan d'accroche pour le centre d'examen</span>
				<p id="title">
					<a href ="{{ path('app_accueil') }}">Centre
					</a>
				</p>
				<p id="subtitle">
					<a href="{{ path('app_accueil') }}">examen</a>
				</p>
				<ul class="contact">
					<li>
						<a href="{{ path('app_competence') }}">Toutes les compétences</a>
					</li>
					<li>
						<a href="{{ path('app_contact') }}">Contact</a>
					</li>
				</ul>
				<ul class="connexion">
					{% if app.user %}
						<li>
							<a href="{{ path('app_profil') }}">Mon profil</a>
						</li>
						<li>
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li>
							<a href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<p class="anim__banner"> {% block banniere_text %}{% endblock %}
			</p>
			<main>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{message}}
					</div>
				{% endfor %}

				{% block body %}{% endblock %}
			</main>
			<!-- Footer -->
			<footer class="containerFooter px-3 py-5">
				<div class="container">
					<div class="d-block d-md-flex d-lg-flex">
						<div class="col-lg-5 col-md-6 text-start">
							<h5 class="logoFooter">
								<b>
									Centre d'examens
								</b>
							</h5>
						</div>
						<div class="containerMenuFooter col-md-6 d-block d-md-flex d-lg-flex text-start align-md-middle">
							<div class="col-lg-2 col-md-2  menuFooter">
								<a href="{{ path('app_contact') }}" class="liensFooter">Contact</a>
							</div>
							<div class="col-lg-3 col-md-4 menuFooter">
								<a href="{{ path('app_cgu') }}" class="liensFooter">Mentions Légales</a>
							</div>
							<div class="col-lg-2 col-md-6 menuFooter">
								<a href="{{ path('app_faq') }}" class="liensFooter">FAQ</a>
							</div>
						</div>
					</div>
					<div class="copyright text-start text-md-end text-lg-end">
						© 2022 Copyright
					</div>
				</div>
			</footer>
			<!-- Fin footer -->
		</body>
	</html>
